---
layout: default
---

<div class="col-12 js-sticky fixed bg-black white">
  <div class="container mx-auto z4">
    <div class="px2 py1 flex flex-center js-sticky-shadow">
      <div class="flex-auto">
        <h4>Black Tie Black Dress Vol. II</h4>
      </div>
      <div class="flex-none">
        <a href="#" class="btn btn-primary inline-block h4">BUY TICKETS</a>
      </div>
    </div>
  </div>
</div>

<header class="bg-black">
  <div class="container flex justify-center">

    <div class="flex-auto center">
      <img class="js-ornament" src={{ "/img/hole-ornament.png" | relative_url }} style="width: 83px;" align="top" />
      <img class="js-ornament" src={{ "/img/horned-ornament.png" | relative_url }} style="width: 113px;" align="top" />
    </div>
    <div class="flex-none col-12 md-col-5 border-box py4 px2">
  <h1 class="mt0 mb1">
    <span class="h4 white m0">Ragemas presents&hellip;</span>
    <span class="hide">Black Tie Black Dress Vol. II</span>
  </h1>
  <img class="col-12" src={{ "/img/bt-bt-vol-2-logo.svg" | relative_url }} style="" />
</div>
    <div class="flex-auto center">
      <img class="js-ornament" src={{ "/img/bulb-ornament.png" | relative_url }} style="width: 92px;" align="top" />
      <img class="js-ornament" src={{ "/img/orb-ornament.png" | relative_url }} style="width: 112px;" align="top" />
    </div>
</div>
</header>
<section class="bg-slate py4">
  <div class="container white sans">
  <div class="clearfix mxn2">
    <div class="col col-12 md-col-3 px2">
      <p>
        November 18th, 2017
        <br>
        10PM - 2AM
      </p>
      <p>
        Early Bird Price: $99
        <br>
        Regular Price: $129
      </p>
      <p class="mt4 mb2">
        <a href="#" class="btn btn-primary inline-block h4">BUY TICKETS</a>
      </p>
    </div>
    <div class="col col-12 md-col-5 px2">
      <p>
      Hosted at The Great Northern
      <br>
      119 Utah St, San Francisco, CA 94103
    </p>
    <p>
      Food by Pythagoras Pizza
      <br>
      Drinks by Sapporo
      <br>
      Photography by Anna-Alexia
    </p>
    </div>
    <div class="col col-12 md-col-4 px2">
      <h4 class="mb0">Secret Sapporo room</h4>
      <p>
        Niket Desai
        <br>
        DJ Lyra
        <br>
        DJ Tosh
        <br>
        Alex Baldwin
      </p>
      <h4 class="mb0">Ragemas main stage</h4>
      <p>
        Brass Animals
        <br>
        Ethan Rader
        <br>
        Matt Pies
      </p>
    </div>
    </div>
  </div>
</section>

<section class="bg-white relative py4">
  <img class="absolute" src={{ "/img/accent-image.jpg" | relative_url }} style="z-index: 0; top: 10rem; left: -40%;" />
  <div class="container relative z1 prose-right">
    {% capture interview %}{% include interview.md %}{% endcapture %}
    {{ interview | markdownify }}
    <img src="{{ /img/niket-signature.png | relative_url }}" width="125" class="signature">
  </div>
</section>

<section class="bg-slate py4">
  <div class="container white prose-left">

    {% capture postscript %}{% include postscript.md %}{% endcapture %}
    {{ postscript | markdownify }}

    <hr />
    <h4>Previous events</h4>
    {% for year in site.data.previous %}
    <div class="clearfix mxn2 mb3">
      <div class="col col-6 px2">
      <p class="sans fs-26">{{ year.year }}</p>
    </div>
      <div class="col col-6 px2">
        <p class="italic sans mb0">{{ year.title }}</p>

      <p class="sans mb0">
      {% unless year.highlight_url == "" %}
        <a class="white" href="{{ year.highlight_url }}">Highlights</a>
      {% else %}
        Highlights (Coming Soon)
      {% endunless %}
      </p>

      <p class="sans mb0">
      {% unless year.event_url == "" %}
        <a class="white" href="{{ year.event_url }}">Event page</a>
      {% else %}
        Event page (Coming Soon)
      {% endunless %}
      </p>
    </div>
    </div>
    {% endfor %}

    <hr />
    <h4>Friends of Ragemas</h4>
    <p class="">
      {{ site.data.friends | array_to_sentence_string }}.
    <p>

    <footer>
      <p class="mt3 mono">WEBSITE BUILT BY NIKET DESAI AND THE RAGEMAS CREW</p>
    </footer>
  </div>
</section>
